<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="entity.AttachedSkill" />
        <mapping class="entity.Attribute" />
        <mapping class="entity.BirthMerit" />
        <mapping class="entity.Flaw" />
        <mapping class="entity.Merit" />
        <mapping class="entity.Personage" />
        <mapping class="entity.PersonageHasMerit" />
        <mapping class="entity.PersonageHasAttachedSkill" />
        <mapping class="entity.PersonageHasTriggerSkill" />
        <mapping class="entity.Race" />
        <mapping class="entity.RaceHasMerit" />
        <mapping class="entity.TriggerSkill" />
    </session-factory>
</hibernate-configuration>