<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/birthMerit.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title>Достоинства</title>
</head>
<body>

<div id="mainMenu"></div>

<h2>Врожденные достоинства</h2>

<h3>Все врожденные достоинства</h3>

<div>
    <table class="data">
        <thead>
        <tr>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Описание</th>
            <th>Бонус</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="birthMeritList">

        </tbody>
    </table>
</div>

<script id="birthMeritListTemplate" type="text/x-jQuery-tmpl">
    <tr>
        <td>${name}</td>
        <td>${cost}</td>
        <td>${description}</td>
        <td>${actionBonus}</td>
        <td>
            <input type="hidden" name="id" value="${id}"/>
            <a href="#linkUpdateBirthMeritWindow" class="updateBirthMerit">Изменить</a>
        </td>
        <td>
            <input type="hidden" name="id" value="${id}"/>
            <a href="javascript:void(0)" class="deleteBirthMerit">Удалить</a>
        </td>
    </tr>
</script>

<div id="addBirthMeritButton">
    <a class="modalbox" href="#addBirthMeritWindow">
        <button>
            <div class="s_button">
                Добавить врожденное достоинство
            </div>
        </button>
    </a>
</div>

<div id="addBirthMeritWindow" style="display:none">
    <form id="addBirthMeritForm" action="/rest/birthMerit/" method="post">

        <table class="birthMerit">
            <tr>
                <td><label for="name">
                    Название достоинства
                </label></td>
                <td><input type="text" id="name" name="name"/></td>
            </tr>
            <tr>
                <td><label for="cost">
                    Стоимость
                </label></td>
                <td><input type="text" id="cost" name="cost"/></td>
            </tr>
            <tr>
                <td><label for="description">
                    Описание
                </label></td>
                <td><textarea id="description" name="description" cols="50" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><label for="actionBonus">
                    Бонус
                </label></td>
                <td><input type="text" id="actionBonus" name="actionBonus"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="addBirthMeritSubmitButton" name="addBirthMeritSubmitButton"
                                       value="Добавить достоинство"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="linkUpdateBirthMeritWindow" style="display:none">
    <form id="updateBirthMeritForm" action="/rest/birthMerit/" method="post">

        <table class="birthMerit">
            <tr>
                <td><label for="updateName">
                    Название достоинства
                </label></td>
                <td><input type="text" id="updateName" name="name"/></td>
            </tr>
            <tr>
                <td><label for="updateCost">
                    Стоимость
                </label></td>
                <td><input type="text" id="updateCost" name="cost"/></td>
            </tr>
            <tr>
                <td><label for="updateDescription">
                    Описание
                </label></td>
                <td><textarea id="updateDescription" name="description" cols="50" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><label for="updateActionBonus">
                    Бонус
                </label></td>
                <td><input type="text" id="updateActionBonus" name="actionBonus"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="updateBirthMeritSubmitButton" name="updateBirthMeritSubmitButton"
                                       value="Сохранить"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>