<ul class="solidblockmenu">
    <li><a href="/view/race_manager_ajax.html">Расы</a></li>
    <li><a href="/view/personage_manager_ajax.html">Персонажи</a></li>
    <li><a href="/view/attribute_manager_ajax.html">Атрибуты</a></li>
    <li><a href="/view/merit_manager_ajax.html">Достоинства</a></li>
    <li><a href="/view/flaw_manager_ajax.html">Недостатки</a></li>
    <li><a href="/view/attached_skill_manager_ajax.html">Прикрепленные навыки</a></li>
    <li><a href="/view/trigger_skill_manager_ajax.html">Тригерные навыки</a></li>
</ul>
<br/><br/>
<img src="/images/blockactive.jpg" width="7" height="66" alt="" class="img01"/>
<img src="/images/blockdefault.jpg" width="7" height="66" alt="" class="img01"/>