<ul class="main_menu" style="padding:10px 15px;margin:0;list-style:none;border:1px solid #E5E5E5;background:#f5f5f5;">
    <li style=" display:inline;margin-right:5px;"><a href="/view/race_manager.html">Расы</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/personage_manager.html">Персонажи</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/attribute_manager.html">Атрибуты</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/merit_manager.html">Достоинства</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/birth_merit_manager.html">Врожденные достоинства</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/flaw_manager.html">Недостатки</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/attached_skill_manager.html">Прикрепленные навыки</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/trigger_skill_manager.html">Тригерные навыки</a></li>
</ul>