<ul class="main_menu" style="padding:10px 15px;margin:0;list-style:none;border:1px solid #E5E5E5;background:#f5f5f5;">
    <li style=" display:inline;margin-right:5px;"><a href="/view/race_manager_ajax.html">Расы</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/personage_manager_ajax.html">Персонажи</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/attribute_manager_ajax.html">Атрибуты</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/merit_manager_ajax.html">Достоинства</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/flaw_manager_ajax.html">Недостатки</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/attached_skill_manager_ajax.html">Прикрепленные навыки</a></li>
    <li style=" display:inline;margin-right:5px;"><a href="/view/trigger_skill_manager_ajax.html">Тригерные навыки</a></li>
</ul>