<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/personage_manager.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title>Персонажи</title>
</head>
<body>

<div id="mainMenu"></div>

<h2>Персонажи</h2>

<h3>Все персонажи</h3>

<div>
    <table class="data">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Раса</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="personageList">

        </tbody>
    </table>
</div>

<script id="personageListTemplate" type="text/x-jQuery-tmpl">
    <tr>
        <td><a href="/view/personage.html?id=${id}">${name}</a></td>
        <td>${age}</td>
        <td>${race.name}</td>
        <td>
            <input type="hidden" name="id" value="${id}"/>
            <a href="#updatePersonageWindow" class="updatePersonage">Изменить</a>
        </td>
        <td>
            <input type="hidden" name="id" value="${id}"/>
            <a href="javascript:void(0)" class="deletePersonage">Удалить</a>
        </td>
    </tr>
</script>

<div id="addPersonageButton">
    <a class="modalbox" href="#addPersonageWindow">
        <button>
            <div class="s_button">
                Добавить персонажа
            </div>
        </button>
    </a>
</div>

<div id="addPersonageWindow" style="display:none">
    <form id="addPersonageForm" action="/rest/personage/" method="post">

        <table class="personage">
            <tr>
                <td><label for="name">
                    Имя персонажа
                </label></td>
                <td><input type="text" id="name" name="name"/></td>
            </tr>
            <tr>
                <td><label for="age">
                    Возраст персонажа
                </label></td>
                <td><input type="text" id="age" name="age"/></td>
            </tr>
            <tr>
                <td>
                    <label for="race">
                        Раса
                    </label>
                </td>
                <td>
                    <select id="race" name="race"></select>
                    <script id="raceSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>

                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="addPersonageSubmitButton" name="addPersonageSubmitButton"
                                       value="Добавить персонажа"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="updatePersonageWindow" style="display:none">
    <form id="updatePersonageForm" action="/rest/personage/" method="post">

        <table class="personage">
            <tr>
                <td><label for="updateName">
                    Имя персонажа
                </label></td>
                <td><input type="text" id="updateName" name="name"/></td>
            </tr>
            <tr>
                <td><label for="updateAge">
                    Возраст персонажа
                </label></td>
                <td><input type="text" id="updateAge" name="age"/></td>
            </tr>
            <tr>
                <td>
                    <label for="updateRace">
                        Раса
                    </label>
                </td>
                <td>
                    <select id="updateRace" name="race" disabled="disabled"></select>
                    <script id="updateRaceSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="updatePersonageSubmitButton" name="updatePersonageSubmitButton"
                                       value="Сохранить"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>