<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/personage.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title id="personageTitle"></title>
</head>
<body>

<div id="mainMenu"></div>

<h2 id="personageName"></h2>

<script id="personageNameTemplate" type="text/x-jQuery-tmpl">Персонаж ${personage.name}</script>

<div id="personageHasAttributeTable">
    <h2>Атрибуты</h2>
    <table id="personageHasAttributeList">

    </table>
</div>

<script id="personageHasAttributeListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td class='personageTables'>${attribute.name}</td>
                <td class='personageTables'>${currentValue}</td>
            </tr>
</script>

<div id="personageHasAttachedSkillTable">
    <h2>Прикрепленные навыки</h2>
    <table id="personageHasAttachedSkillList">

    </table>
    <div id="linkAttachedSkillToPersonageButton">
        <a class="modalbox" href="#linkAttachedSkillToPersonageWindow">
            <div class="s_button">
                Добавить прикрепленный навык
            </div>
        </a>
    </div>
</div>

<script id="personageHasAttachedSkillListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td class='personageTables'>${attachedSkill.name}</td>
                <td class='personageTables'>${currentValue}</td>
                <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkAttachedSkillFromPersonage">Убрать</a>
                </td>
            </tr>
</script>

<div id="linkAttachedSkillToPersonageWindow" style="display:none">
    <form id="linkAttachedSkillToPersonageForm" method="post" action="/rest/personage/personageAttachedSkill">

        <table>
            <tr>
                <td>
                    <label for="attachedSkill">
                        Прикрепленный навык
                    </label>
                </td>
                <td>
                    <select id="attachedSkill" name="attachedSkill"></select>
                    <script id="attachedSkillByPersonageSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>

            <script id="personageByAttachedSkillTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByAttachedSkill" name="personage" type="hidden" value="${personage.id}"/>
            </script>


            <tr>
                <td>
                    <label for="currentValue">
                        Значение
                    </label>
                </td>
                <td>
                    <input id="currentValue" name="currentValue"/>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" id="linkAttachedSkillToPersonageSubmitButton"
                                       name="linkAttachedSkillToPersonageSubmitButton"
                                       value="Добавить прикрепленный навык"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="personageHasTriggerSkillTable">
    <h2>Триггерные навыки</h2>
    <table id="personageHasTriggerSkillList">

    </table>
    <div id="linkTriggerSkillToPersonageButton">
        <a class="modalbox" href="#linkTriggerSkillToPersonageWindow">
            <div class="s_button">
                Добавить тригерный навык
            </div>
        </a>
    </div>
</div>

<script id="personageHasTriggerSkillListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td class='personageTables'>${triggerSkill.name}</td>
                <td class='personageTables'>${currentLevel.name}</td>
                <td>
                    {%if hasTalent%}
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                    {%else%}
                        <input type="checkbox" disabled="disabled"/>
                    {%/if%}
                </td>
                <td>
                    {%if hasTeacher%}
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                    {%else%}
                        <input type="checkbox" disabled="disabled"/>
                    {%/if%}
                </td>
                <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkTriggerSkillFromPersonage">Убрать</a>
                </td>
            </tr>
</script>

<div id="linkTriggerSkillToPersonageWindow" style="display:none">
    <form id="linkTriggerSkillToPersonageForm" method="post" action="/rest/personage/personageTriggerSkill">

        <table>
            <tr>
                <td>
                    <label for="triggerSkill">
                        Тригерный навык
                    </label>
                </td>
                <td>
                    <select id="triggerSkill" name="triggerSkill"></select>
                    <script id="triggerSkillByPersonageSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>

            <script id="personageByTriggerSkillTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByTriggerSkill" name="personage" type="hidden" value="${personage.id}"/>
            </script>

            <tr>
                <td>
                    <label for="currentLevel">
                        Уровень
                    </label>
                </td>
                <td>
                    <select id="currentLevel" name="currentLevel"></select>
                    <script id="skillLevelTemplate" type="text/x-jquery-tmpl">
                        <option value="${name}">${name}</option>
                    </script>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="hasTalent">
                        Талант
                    </label>
                </td>
                <td>
                    <input type="checkbox" id="hasTalent" name="hasTalent"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="hasTeacher">
                        Учитель
                    </label>
                </td>
                <td>
                    <input type="checkbox" id="hasTeacher" name="hasTeacher"/>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" id="linkTriggerSkillToPersonageSubmitButton"
                                       name="linkTriggerSkillToPersonageSubmitButton"
                                       value="Добавить тригерный навык"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="personageHasMeritTable">
    <h2>Достоинства</h2>
    <table id="personageHasMeritList">

    </table>
    <div id="linkMeritToPersonageButton">
        <a class="modalbox" href="#linkMeritToPersonageWindow">
            <div class="s_button">
                Добавить достоинство
            </div>
        </a>
    </div>
</div>

<script id="personageHasMeritListTemplate" type="text/x-jQuery-tmpl">
        {%each defaultForRaceMerits%}
            <tr>
                <td class='personageTables'>
                    ${merit.name}
                </td>
                <td class='personageTables'>
                    Дефолтный для ${race.name}
                </td>
            </tr>
        {%/each%}

        {%each withDifferentCostForRaceMerits%}
            <tr>
                <td class='personageTables'>
                    ${merit.name}
                </td>
                <td class='personageTables'>
                    РС: ${raceCost} БС: ${merit.cost}
                </td>
                <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkMeritFromPersonageByRaceHasMeritId">Убрать</a>
                </td>
            </tr>
        {%/each%}

        {%each onlyForPersonageMerits%}
            <tr>
                <td class='personageTables'>
                    ${merit.name}
                </td>
                <td class='personageTables'>
                    ${merit.cost}
                </td>
                 <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkMeritFromPersonage">Убрать</a>
                </td>
            </tr>
        {%/each%}
</script>

<div id="linkMeritToPersonageWindow" style="display:none">
    <form id="linkMeritToPersonageForm" method="post" action="/rest/personage/personageMerit">

        <table>
            <tr>
                <td>
                    <label for="merit">
                        Достоинство
                    </label>
                </td>
                <td>
                    <select id="merit" name="merit">
                        <script id="raceHasMeritsWithoutDefaultsTemplate" type="text/x-jQuery-tmpl">
                            <option value="${merit.id}">${merit.name} (БC: ${merit.cost} РС: ${raceCost})</option>
                        </script>
                        <script id="allMeritsWithoutRacesMeritsTemplate" type="text/x-jQuery-tmpl">
                            <option value="${id}">${name}</option>
                        </script>
                    </select>
                </td>
            </tr>

            <script id="personageByMeritTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByMerit" name="personage" type="hidden" value="${personage.id}"/>
            </script>

            <tr>
                <td colspan="2"><input type="submit" id="linkMeritToPersonageSubmitButton"
                                       name="linkMeritToPersonageSubmitButton"
                                       value="Добавить достоинство"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>