<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/personage.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title id="personageTitle"></title>
</head>
<body>

<div id="mainMenu"></div>

<h2 id="personageName"></h2>

<script id="personageNameTemplate" type="text/x-jQuery-tmpl">Персонаж ${personage.name}</script>

<div id="personageHasAttributeTable">
    <h2>Атрибуты</h2>
    <table id="personageHasAttributeList">

    </table>
</div>

<script id="personageHasAttributeListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td class='personageAttributes'>${attribute.name}</td>
                <td class='personageAttributes'>${currentValue}</td>
            </tr>
</script>

</body>
</html>