<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title>Персонажи</title>
</head>
<body>

<h2><a href="/main.jsp">Домой</a></h2>

<h2>Персонажи</h2>

<h3>Все персонажи</h3>

<div>
    <table class="data">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Раса</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="personageList">

        </tbody>
    </table>
</div>

<script id="personageListTemplate" type="text/x-jQuery-tmpl">
    <tr>
        <td><a href="/personage/${id}">${name}</a></td>
        <td>${age}</td>
        <td>${race.name}</td>
        <td>
            <input type="hidden" name="id" value="${id}"/>
            <a href="javascript:void(0)" class="deletePersonage">Удалить</a>
        </td>
    </tr>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascript/jquery.tmpl.js"></script>
<script src="/javascript/ajax.js"></script>
<script src="/javascript/personage.js"></script>

</body>
</html>