<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="/javascript/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/personage.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title id="personageTitle"></title>
</head>
<body>

<div id="mainMenu"></div>

<h2 id="personageName"></h2>

<script id="personageNameTemplate" type="text/x-jQuery-tmpl">Персонаж ${personage.name}. Доступные очки опыта: ${personage.experience}</script>

<div id="generatedButtonDiv">
    <a class="generate" id="generatedButton">
    </a>
</div>

<script id="generatedButtonTemplate" type="text/x-jQuery-tmpl">
        {%if personage.generated%}
            <button>
                Вернуться в режим создания
            </button>
        {%else%}
            <button>
                В игровой режим
            </button>
        {%/if%}
</script>

<div id="personageHasAttributeTable">
    <h2>Атрибуты</h2>
    <table id="personageHasAttributeList">

    </table>
</div>

<script id="personageHasAttributeListTemplate" type="text/x-jQuery-tmpl">
        {%each personageAttributes%}
            <tr>
                <td class='personageTables'>${attribute.name}</td>
                <input name="id" type="hidden" value="${id}"/>
                <td>
                    <a href="javascript:void(0)" class="minusAttribute"><button>-</button></a>
                </td>
                <td class='personageTables' name="currentValue">${currentValue}</td>
                <td>
                    <a href="javascript:void(0)" class="plusAttribute"><button>+</button></a>
                </td>
                <td class='personageTables'>${priority.name}</td>
                {%if !personage.generated%}
                    {%if primaryAttributeSet && secondaryAttributeSet%}
                        {%if priority.name != "BASIC"%}
                            <td>
                                <a href="javascript:void(0)" class="basic"><button class="priorityButton">Set basic</button></a>
                            </td>
                        {%/if%}
                    {%else%}
                        {%if primaryAttributeSet && !secondaryAttributeSet%}
                            {%if priority.name == "BASIC"%}
                                <td>
                                    <a href="javascript:void(0)" class="secondary"><button class="priorityButton">Set secondary</button></a>
                                </td>
                            {%else%}
                                <td>
                                    <a href="javascript:void(0)" class="basic"><button class="priorityButton">Set basic</button></a>
                                </td>
                            {%/if%}
                        {%else%}
                            {%if priority.name != "PRIMARY"%}
                                <td>
                                    <a href="javascript:void(0)" class="primary"><button class="priorityButton">Set primary</button></a>
                                </td>
                            {%/if%}
                        {%/if%}
                    {%/if%}
                {%/if%}
            </tr>
        {%/each%}
</script>

<div id="updatePersonageAttributeFormContainer" style="display:none">
    <form id="updatePersonageAttributeForm" action="/rest/personage/personageAttribute/" method="post">
        <table>
            <tr id="attributeByPersonageId"></tr>
            <script id="attributeByPersonageTemplate" type="text/x-jQuery-tmpl">
                <input id="attribute" name="attribute" type="hidden" value="${attribute.id}"/>
            </script>
            <tr id="personageByAttributeId"></tr>
            <script id="personageByAttributeTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByAttribute" name="personage" type="hidden" value="${personage.id}"/>
            </script>
            <tr id="attributeCurrentValue"></tr>
            <script id="currentValueTemplate" type="text/x-jQuery-tmpl">
                <input id="currentValue" name="currentValue" type="hidden" value="${currentValue}"/>
            </script>
            <tr id="priority"></tr>
            <script id="priorityTemplate" type="text/x-jQuery-tmpl">
                <input id="priority" name="priority" type="hidden" value="${priority.name}"/>
            </script>
        </table>
    </form>
</div>

<div id="personageHasAttachedSkillTable">
    <h2>Прикрепленные навыки</h2>
    <table id="personageHasAttachedSkillList">

    </table>
    <div id="linkAttachedSkillToPersonageButton">
        <a class="modalbox" href="#linkAttachedSkillToPersonageWindow">
            <div class="s_button">
                Добавить прикрепленный навык
            </div>
        </a>
    </div>
</div>

<script id="personageHasAttachedSkillListTemplate" type="text/x-jQuery-tmpl">
        {%each personageAttachedSkills%}
            <tr>
                <td class='personageTables'>${attachedSkill.name}</td>
                <input name="id" type="hidden" value="${id}"/>
                {%if !personage.generated%}
                    <td>
                        <a href="javascript:void(0)" class="minusAttachedSkill"><button>-</button></a>
                    </td>
                {%/if%}
                <td class='personageTables'>${currentValue}</td>
                <td>
                    <a href="javascript:void(0)" class="plusAttachedSkill"><button>+</button></a>
                </td>
                {%if !personage.generated%}
                    <td>
                        <input type="hidden" name="id" value="${id}"/>
                        <a href="javascript:void(0)" class="unlinkAttachedSkillFromPersonage">Убрать</a>
                    </td>
                {%/if%}
            </tr>
        {%/each%}
</script>

<div id="linkAttachedSkillToPersonageWindow" style="display:none">
    <form id="linkAttachedSkillToPersonageForm" method="post" action="/rest/personage/personageAttachedSkill">

        <table>
            <tr>
                <td>
                    <label for="attachedSkill">
                        Прикрепленный навык
                    </label>
                </td>
                <td>
                    <select id="attachedSkill" name="attachedSkill"></select>
                    <script id="attachedSkillByPersonageSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>

            <tr id="attachedSkillPersonageId">

            </tr>

            <script id="personageByAttachedSkillTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByAttachedSkill" name="personage" type="hidden" value="${personage.id}"/>
            </script>

            <input type="hidden" id="currentValue" name="currentValue" value="1"/>

            <tr>
                <td colspan="2"><input type="submit" id="linkAttachedSkillToPersonageSubmitButton"
                                       name="linkAttachedSkillToPersonageSubmitButton"
                                       value="Добавить прикрепленный навык"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="updatePersonageAttachedSkillFormContainer" style="display:none">
    <form id="updatePersonageAttachedSkillForm" action="/rest/personage/personageAttachedSkill" method="post">
        <table>
            <tr id="attachedSkillByPersonageId"></tr>
            <script id="attachedSkillByPersonageTemplate" type="text/x-jQuery-tmpl">
                <input id="updateAttachedSkill" name="attachedSkill" type="hidden" value="${id}"/>
            </script>
            <tr id="personageByAttachedSkillId"></tr>
            <script id="personageByAttachedSkilTemplate" type="text/x-jQuery-tmpl">
                <input id="updatePersonageByAttachedSkill" name="personage" type="hidden" value="${personage.id}"/>
            </script>
            <tr id="attachedSkillValue"></tr>
            <script id="attachedSkillValueTemplate" type="text/x-jQuery-tmpl">
                <input id="updateCurrentValue" name="currentValue" type="hidden" value="${currentValue}"/>
            </script>
        </table>
    </form>
</div>

<div id="personageHasTriggerSkillTable">
    <h2>Триггерные навыки</h2>
    <table class="data">
        <thead>
        <tr>
            <th></th>
            <th>Уровень</th>
            <th>Талант</th>
            <th>Учитель</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="personageHasTriggerSkillList">

        </tbody>

    </table>
    <div id="linkTriggerSkillToPersonageButton">
        <a class="modalbox" href="#linkTriggerSkillToPersonageWindow">
            <div class="s_button">
                Добавить тригерный навык
            </div>
        </a>
    </div>
</div>

<script id="personageHasTriggerSkillListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td class='personageTables'>${triggerSkill.name}</td>
                <td class='personageTables'>${currentLevel.name}</td>
                <td>
                    {%if hasTalent%}
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                    {%else%}
                        <input type="checkbox" disabled="disabled"/>
                    {%/if%}
                </td>
                <td>
                    {%if hasTeacher%}
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                    {%else%}
                        <input type="checkbox" disabled="disabled"/>
                    {%/if%}
                </td>
                {%if !personage.generated%}
                    <td>
                        <input type="hidden" name="id" value="${id}"/>
                        <a href="javascript:void(0)" class="unlinkTriggerSkillFromPersonage">Убрать</a>
                    </td>
                {%/if%}
            </tr>
</script>

<div id="linkTriggerSkillToPersonageWindow" style="display:none">
    <form id="linkTriggerSkillToPersonageForm" method="post" action="/rest/personage/personageTriggerSkill">

        <table>
            <tr>
                <td>
                    <label for="triggerSkill">
                        Тригерный навык
                    </label>
                </td>
                <td>
                    <select id="triggerSkill" name="triggerSkill"></select>
                    <script id="triggerSkillByPersonageSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>

            <tr id="triggerSkillPersonageId">

            </tr>

            <script id="personageByTriggerSkillTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByTriggerSkill" name="personage" type="hidden" value="${personage.id}"/>
            </script>

            <tr>
                <td>
                    <label for="currentLevel">
                        Уровень
                    </label>
                </td>
                <td>
                    <select id="currentLevel" name="currentLevel"></select>
                    <script id="skillLevelTemplate" type="text/x-jquery-tmpl">
                        <option value="${name}">${name}</option>
                    </script>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="hasTalent">
                        Талант
                    </label>
                </td>
                <td>
                    <input type="checkbox" id="hasTalent" name="hasTalent"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="hasTeacher">
                        Учитель
                    </label>
                </td>
                <td>
                    <input type="checkbox" id="hasTeacher" name="hasTeacher"/>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" id="linkTriggerSkillToPersonageSubmitButton"
                                       name="linkTriggerSkillToPersonageSubmitButton"
                                       value="Добавить тригерный навык"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="personageHasMeritTable">
    <h2>Достоинства</h2>
    <table id="personageHasMeritList">

    </table>
    <div id="linkMeritToPersonageButton">
        <a class="modalbox" href="#linkMeritToPersonageWindow">
            <div class="s_button">
                Добавить достоинство
            </div>
        </a>
    </div>
</div>

<script id="personageHasMeritListTemplate" type="text/x-jQuery-tmpl">
        {%each defaultForRaceMerits%}
            <tr>
                <td class='personageTables'>
                    ${merit.name}
                </td>
                <td class='personageTables'>
                    Дефолтный для ${race.name}
                </td>
            </tr>
        {%/each%}

        {%each withDifferentCostForRaceMerits%}
            <tr>
                <td class='personageTables'>
                    ${merit.name}
                </td>
                <td class='personageTables'>
                    РС: ${raceCost} БС: ${merit.cost}
                </td>
                {%if !personage.generated%}
                    <td>
                        <input type="hidden" name="id" value="${id}"/>
                        <a href="javascript:void(0)" class="unlinkMeritFromPersonageByRaceHasMeritId">Убрать</a>
                    </td>
                {%/if%}
            </tr>
        {%/each%}

        {%each onlyForPersonageMerits%}
            <tr>
                <td class='personageTables'>
                    ${merit.name}
                </td>
                <td class='personageTables'>
                    ${merit.cost}
                </td>
                {%if !personage.generated%}
                    <td>
                        <input type="hidden" name="id" value="${id}"/>
                        <a href="javascript:void(0)" class="unlinkMeritFromPersonage">Убрать</a>
                    </td>
                {%/if%}
            </tr>
        {%/each%}
</script>

<div id="linkMeritToPersonageWindow" style="display:none">
    <form id="linkMeritToPersonageForm" method="post" action="/rest/personage/personageMerit">

        <table>
            <tr>
                <td>
                    <label for="merit">
                        Достоинство
                    </label>
                </td>
                <td>
                    <select id="merit" name="merit">

                    </select>

                    <script id="meritsSelectTemplate" type="text/x-jQuery-tmpl">
                        {%each raceHasMeritsWithoutDefaults%}
                                <option value="${merit.id}">${merit.name} (БC: ${merit.cost} РС: ${raceCost})</option>
                        {%/each%}

                        {%each allMeritsWithoutRacesMerits%}
                            <option value="${merit.id}">${merit.name}</option>
                        {%/each%}
                    </script>
                </td>
            </tr>

            <tr id="meritPersonageId">

            </tr>

            <script id="personageByMeritTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByMerit" name="personage" type="hidden" value="${personage.id}"/>
            </script>

            <tr>
                <td colspan="2"><input type="submit" id="linkMeritToPersonageSubmitButton"
                                       name="linkMeritToPersonageSubmitButton"
                                       value="Добавить достоинство"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="personageHasFlawTable">
    <h2>Недостатки</h2>
    <table id="personageHasFlawList">

    </table>
    <div id="linkFlawToPersonageButton">
        <a class="modalbox" href="#linkFlawToPersonageWindow">
            <div class="s_button">
                Добавить недостаток
            </div>
        </a>
    </div>
</div>

<script id="personageHasFlawListTemplate" type="text/x-jQuery-tmpl">
        {%each defaultForRaceFlaws%}
            <tr>
                <td class='personageTables'>
                    ${flaw.name}
                </td>
                <td class='personageTables'>
                    Дефолтный для ${race.name}
                </td>
            </tr>
        {%/each%}

        {%each allPersonageHasFlawsWithoutDefaultForRace%}
            <tr>
                <td class='personageTables'>
                    ${flaw.name}
                </td>
                <td class='personageTables'>
                    ${flaw.cost}
                </td>
                 <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkFlawFromPersonage">Убрать</a>
                </td>
            </tr>
        {%/each%}
</script>

<div id="linkFlawToPersonageWindow" style="display:none">
    <form id="linkFlawToPersonageForm" method="post" action="/rest/personage/personageFlaw">

        <table>
            <tr>
                <td>
                    <label for="flaw">
                        Недостаток
                    </label>
                </td>
                <td>
                    <select id="flaw" name="flaw">
                    </select>

                    <script id="flawsSelectTemplate" type="text/x-jQuery-tmpl">
                            <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>

            <tr id="flawPersonageId">

            </tr>

            <script id="personageByFlawTemplate" type="text/x-jQuery-tmpl">
                <input id="personageByFlaw" name="personage" type="hidden" value="${personage.id}"/>
            </script>

            <tr>
                <td colspan="2"><input type="submit" id="linkFlawToPersonageSubmitButton"
                                       name="linkFlawToPersonageSubmitButton"
                                       value="Добавить недостаток"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="personageHasBirthMeritTable">
    <h2>Врожденные достоинства</h2>
    <table id="personageHasBirthMeritList">

    </table>
</div>

<script id="personageHasBirthMeritListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td class='personageTables'>${birthMerit.name}</td>
                <td class='personageTables'>${currentValue}</td>
            </tr>
</script>

</body>
</html>