<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/race.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title id="raceTitle"></title>
</head>
<body>

<div id="mainMenu"></div>

<h2 id="raceName"></h2>

<script id="raceNameTemplate" type="text/x-jQuery-tmpl">Раса ${race.name}</script>

<div id="raceHasAttributeTable">
    <h2>Атрибуты</h2>
    <table>
        <thead>
        <tr>
            <th>Название атрибута</th>
            <th>Базовая стоимость за единицу</th>
            <th>Стоимость поднятия с 1 до 3 по игре</th>
            <th>Стоимость поднятия с 3 до 6 по игре</th>
            <th>Стоимость поднятия с 6 до 9 по игре</th>
            <th>Стоимость поднятия с 9 до 12 по игре</th>
            <th>Максимальное значение</th>
            <th>Бонус на действия</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="raceHasAttributeList">

        </tbody>
    </table>
</div>

<script id="raceHasAttributeListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td>${attribute.name}</td>
                <td>${baseCost}</td>
                <td>${from1To3NonGeneratingCost}</td>
                <td>${from3To6NonGeneratingCost}</td>
                <td>${from6To9NonGeneratingCost}</td>
                <td>${from9To12NonGeneratingCost}</td>
                <td>${maxValue}</td>
                <td>${attribute.actionLevelBonus}</td>
                <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkAttributeFromRace">Убрать</a>
                </td>
            </tr>
</script>

<div id="linkAttributeToRaceButton">
    <a class="modalbox" href="#linkAttributeToRaceWindow">
        <div class="s_button">
            Добавить аттрибут
        </div>
    </a>
</div>

<div id="linkAttributeToRaceWindow" style="display:none">
    <form id="linkAttributeToRaceForm" method="post" action="/rest/race/linkAttributeToRace">

        <table>
            <tr>
                <td>
                    <label for="attributeByRace">
                        Атрибут
                    </label>
                </td>
                <td>
                    <select id="attributeByRace" name="attributeByRace"></select>
                    <script id="attributeByRaceSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>
                    </script>
                </td>
            </tr>

            <script id="raceByAttributeTemplate" type="text/x-jQuery-tmpl">
                <input id="raceByAttribute" type="hidden" value="${race.id}"/>
            </script>

            <tr>
                <td>
                    <label for="baseCost">
                        Базовая стоимость за единицу
                    </label>
                </td>
                <td>
                    <input id="baseCost"/>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="maxValue">
                        Максимальное значение
                    </label>
                </td>
                <td>
                    <input id="maxValue"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="from1To3NonGeneratingCost">
                        Стоимость поднятия с 1 до 3 по игре
                    </label>
                </td>
                <td>
                    <input id="from1To3NonGeneratingCost"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="from3To6NonGeneratingCost">
                        Стоимость поднятия с 3 до 6 по игре
                    </label>
                </td>
                <td>
                    <input id="from3To6NonGeneratingCost"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="from6To9NonGeneratingCost">
                        Стоимость поднятия с 6 до 9 по игре
                    </label>
                </td>
                <td>
                    <input id="from6To9NonGeneratingCost"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="from9To12NonGeneratingCost">
                        Стоимость поднятия с 9 до 12 по игре
                    </label>
                </td>
                <td>
                    <input id="from9To12NonGeneratingCost"/>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" id="linkAttributeToRaceSubmit" name="linkAttributeToRaceSubmit"
                                       value="Добавить атрибут"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="raceHasMeritTable">
    <h2>Достоинства</h2>
    <table>
        <thead>
        <tr>
            <th>Название достоинства</th>
            <th>Расовая стоимость</th>
            <th>По умолчанию для расы</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="raceHasMeritList">

        </tbody>
    </table>
</div>

<script id="raceHasMeritListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td>${merit.name}</td>
                <td>${raceCost}</td>
                <td>
                    {%if defaultForRace%}
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                    {%else%}
                        <input type="checkbox" disabled="disabled"/>
                    {%/if%}
                </td>

                <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkMeritFromRace">Убрать</a>
                </td>
            </tr>
</script>

<div id="linkMeritToRaceButton">
    <a class="modalbox" href="#linkMeritToRaceWindow">
        <div class="s_button">
            Добавить достоинство
        </div>
    </a>
</div>


<div id="linkMeritToRaceWindow" style="display:none">
    <form id="linkMeritToRaceForm" method="post" action="/rest/race/linkMeritToRace">

        <table>
            <tr>
                <td>
                    <label for="meritByRace">
                        Достоинство
                    </label>
                </td>
                <td>
                    <select id="meritByRace" name="meritByRace"></select>
                    <script id="meritByRaceSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>

                    </script>
                </td>
            </tr>

            <script id="raceByMeritTemplate" type="text/x-jQuery-tmpl">
                <input id="raceByMerit" type="hidden" value="${race.id}"/>

            </script>

            <tr>
                <td>
                    <label for="raceCost">
                        Расовая стоимость
                    </label>
                </td>
                <td>
                    <input id="raceCost"/>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="defaultForRaceMerit">
                        По умолчанию для расы
                    </label>
                </td>
                <td>
                    <input type="checkbox" id="defaultForRaceMerit" name="defaultForRaceMerit"/>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" id="linkMeritToRaceSubmit" name="linkMeritToRaceSubmit"
                                       value="Добавить достоинство"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="raceHasFlawTable">
    <h2>Недостатки</h2>
    <table>
        <thead>
        <tr>
            <th>Название недостатка</th>
            <th>По умолчанию для расы</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="raceHasFlawList">

        </tbody>
    </table>
</div>

<script id="raceHasFlawListTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td>${flaw.name}</td>
                <td>
                    {%if defaultForRace%}
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                    {%else%}
                        <input type="checkbox" disabled="disabled"/>
                    {%/if%}
                </td>

                <td>
                    <input type="hidden" name="id" value="${id}"/>
                    <a href="javascript:void(0)" class="unlinkFlawFromRace">Убрать</a>
                </td>
            </tr>
</script>

<div id="linkFlawToRaceButton">
    <a class="modalbox" href="#linkFlawToRaceWindow">
        <div class="s_button">
            Добавить недостаток
        </div>
    </a>
</div>


<div id="linkFlawToRaceWindow" style="display:none">
    <form id="linkFlawToRaceForm" method="post" action="/rest/race/linkFlawToRace">

        <table>
            <tr>
                <td>
                    <label for="flawByRace">
                        Недостаток
                    </label>
                </td>
                <td>
                    <select id="flawByRace" name="flawByRace"></select>
                    <script id="flawByRaceSelectTemplate" type="text/x-jquery-tmpl">
                        <option value="${id}">${name}</option>

                    </script>
                </td>
            </tr>

            <script id="raceByFlawTemplate" type="text/x-jQuery-tmpl">
                <input id="raceByFlaw" type="hidden" value="${race.id}"/>

            </script>

            <tr>
                <td>
                    <label for="defaultForRaceFlaw">
                        По умолчанию для расы
                    </label>
                </td>
                <td>
                    <input type="checkbox" id="defaultForRaceFlaw" name="defaultForRaceFlaw" checked="checked" disabled="disabled"/>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" id="linkFlawToRaceSubmit" name="linkFlawToRaceSubmit"
                                       value="Добавить недостаток"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>