<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/javascript/ajax.js"></script>
    <script type="text/javascript" src="/javascript/race.js"></script>
    <script type="text/javascript" src="/javascript/pnotify.custom.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title id="raceTitle"></title>
</head>
<body>

<h2><a href="/main.jsp">Домой</a></h2>

<h2 id="raceName"></h2>

<script id="raceNameTemplate" type="text/x-jQuery-tmpl">Раса ${race.name}</script>

</body>
</html>