body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px;
}

.personageTables {
    font-size: 16px;
    padding: 0 20px;
}

#personageHasAttributeTable, #personageHasAttachedSkillTable, #personageHasTriggerSkillTable {
    height: 300px;
    width: 150px;
}
#personageHasAttachedSkillTable {
    position: relative;
    left: 350px;
    top: -320px;
}
#personageHasTriggerSkillTable {
    position: relative;
    left: 700px;
    top: -640px;
}