body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px;
}

.personageTables {
    font-size: 16px;
    padding: 0 20px;
}

#personageHasAttributeTable, #personageHasAttachedSkillTable, #personageHasTriggerSkillTable,
#personageHasMeritTable, #personageHasFlawTable, #personageHasBirthMeritTable {
    height: 320px;
    width: 300px;
}

#personageHasAttachedSkillTable {
    position: relative;
    left: 550px;
    top: -340px;
}

#personageHasTriggerSkillTable {
    position: relative;
    left: 900px;
    top: -680px;
}

#personageHasMeritTable {
    position: relative;
    top: -600px;
}

#personageHasFlawTable {
    position: relative;
    top: -940px;
    left: 350px;
}

#personageHasBirthMeritTable {
    position: relative;
    top: -1280px;
    left: 700px;
}

li {
    list-style: none;
}

ul {
    padding: 0 0 0 0;
}

.description {
    width: 500px;
}

.bonus{
    width: 400px;
}

.priorityButton{
    width: 120px;
}


input.plusAttribute { width:25px; height:25px;}
input.minusAttribute { width:25px; height:25px;}

input.plusAttachedSkill { width:25px; height:25px;}
input.minusAttachedSkill { width:25px; height:25px;}